.headerOptions__icon{
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(108, 107, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
}

.headerOptions__icon:hover{
    color: rgb(134, 121, 121);
    transition: 0.4s;
    text-align: center;
}

.header__Options > h3{
    font-size: 9px;
    text-align: center;
}

.headerOptions__avatar{
height: 25px;
object-fit: contain;
border-radius: 20px;
width: 25px;
}

.headerOptions__avatar > h3{
    font-size: 9px;
    text-align: center;
}
