@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Comfortaa:wght@500&family=Fasthand&family=Lora:ital,wght@0,600;1,500&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Open+Sans&family=Poppins:wght@200;500&family=Sacramento&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@400;700&display=swap');


.header{
display: flex;
position: sticky;
top:0;
justify-content: space-evenly;
border-bottom: 0.1px solid lightgray;
padding-top: 10px;
padding-bottom: 10px;
background-color: white;
width: 100%;
z-index: 999;
}

.header__left{
display: flex;
}

.header__left >img{
    object-fit: contain;
    height: 40px;

}

.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 18px;
    color: gray;
    background-color: #eef3f8;
}


.header__search > input{
    outline: none;
    border: none;
    background: none;
    
}

.header__right{
    display: flex;
}

